<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      required
      name="email"
      [(ngModel)]="email"
      class="form-control"
      id="email"
    />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      required
      name="password"
      [(ngModel)]="password"
      type="password"
      class="form-control"
      id="password"
    />
  </div>
  <div class="alert alert-danger" *ngIf="erroMessage">{{ erroMessage }}</div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
